/*
 * Application specific CSS
 * Make sure to never override default Bootstrap!
 */
 .navbar-nav > li > a {
    color: #ffffff !important;
  }
  form {
      margin-top: 15px !important;
  }

  .navbar-default {
      background-color: #555555 !important;
  }

  
  #orange-stripe {
      background-color: orange;
      height: 5px;
      width: 100%;
  }
  #footer {
      background-color: #555;
      width: 100%;
      height: 20%;
      color: #ffffff;
      padding: 2em;
  }
  #clover {
      width: 42px;
      height: 52px;
  }
    .clover {
    height: 50px !important;
    width: 40px !important;
    box-sizing: content-box;
    padding: 4px;
    display: inline-block;
    margin: 20px;
    }
    hr {
        display: inline-block;
        height: 1px;
        width: 80px;
        border: 0;
        border-top: 1px solid #ffffff;
        margin: 0;
        padding: 0;
        }
    .foot-links {
        margin: 50px;
        width: 100px;
        box-sizing: content-box;
    }

    a {
        padding-bottom: 20px;
    }
    .copyright {
        margin-top: 20px;
        margin-left: 50px;
    }
    .container {
        margin-left: 5%;
        margin-right: 5%;
     }
    
    #subtext {
        padding-bottom: 10px;
    }
    
     #founders_image {
        width: 100%;
     }
    
    .row {
        margin: 0px;
    }
    
     .container2 {
        max-height: 400px;
        max-width: 375px;
        width: 375px;
        overflow: auto;
        height: 33%;
        margin-bottom: 16px;
     }
    
     .redasterisk {
        color: #ff0000;
     }
    
    #name_box {
        padding: 0px;
        margin: 0px;
        width: 100%;
        position: relative;
    }
    
    #email_box {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
     #comments_box {
         height: 65px;
         max-width: 100%;
         max-height: 200px;
         margin-right: 0px;
     }
    
    #signup_area {
        float: right;
    }
    
     #signup_button {
        position: relative; 
        bottom: 0px;
        margin-right: 0px;
     }
    
     .container3 {
         position: relative;
     }
    